In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
os.chdir('C:\\Users\\Okon Saviour Andem\\Desktop')
os.getcwd()
%matplotlib inline

In [16]:
fuel_data=pd.read_csv('fuel_ferc1.csv')
fuel_data

,Unnamed: 0,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.590,18.530,1.121
1,1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.580,18.530,1.120
2,2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.720,38.120,1.650
3,3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.210,45.990,1.970
4,4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.770,2.770,2.570
5,5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.240,43.250,1.850
6,6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.770,0.000,0.450
7,7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.540,55.130,2.360
8,8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520.0,24.290000,33.970,34.650,1.400
9,9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233.0,22.484000,28.730,28.110,1.278
10,10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720.0,1.026000,1.940,1.940,13.900
11,11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779.0,22.428000,28.710,28.110,1.280
12,12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673.0,1.026000,1.940,1.940,1.900
13,13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558.0,25.038000,30.248,29.019,1.208
14,14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510.0,5.875338,32.130,23.444,5.469
15,15,f1_fuel_1994_12_6_0_4,6,1994,amos-apco share,coal,ton,3520831.0,24.508000,44.404,42.915,1.812
16,16,f1_fuel_1994_12_6_0_7,6,1994,amos-total,coal,ton,5327281.0,24.538000,44.312,42.940,1.806
17,17,f1_fuel_1994_12_6_0_10,6,1994,glen lyn,coal,ton,666975.0,25.836000,36.268,32.893,1.404
18,18,f1_fuel_1994_12_6_0_13,6,1994,kanawha river,coal,ton,391864.0,25.160000,46.024,42.034,1.829
19,19,f1_fuel_1994_12_6_0_14,6,1994,kanawha river,oil,bbl,3505.0,5.774958,33.321,26.280,5.770
20,20,f1_fuel_1994_12_6_1_7,6,1994,mountainr,coal,ton,2837040.0,24.526000,39.911,38.717,1.627
21,21,f1_fuel_1994_12_6_1_8,6,1994,mountainr,oil,bbl,50013.0,5.845644,30.319,23.884,5.187
22,22,f1_fuel_1994_12_6_1_10,6,1994,philip sporn-apco,coal,ton,383043.0,24.334000,39.850,35.856,1.638
23,23,f1_fuel_1994_12_6_1_11,6,1994,philip sporn-apco,oil,bbl,13969.0,5.742870,32.184,30.508,5.604
24,24,f1_fuel_1994_12_6_1_13,6,1994,philip sporn ttl plt,coal,ton,1338459.0,24.334000,40.144,35.793,1.650
25,25,f1_fuel_1994_12_6_1_14,6,1994,philip sporn ttl plt,oil,bbl,48750.0,5.742828,32.186,30.507,5.605
26,26,f1_fuel_1994_12_7_0_1,7,1994,"cholla units 1,2,3",coal,ton,2062799.0,19.970000,31.520,31.200,1.580
27,27,f1_fuel_1994_12_7_0_2,7,1994,"cholla units 1,2,3",oil,bbl,10088.0,5.851020,32.650,28.730,5.580
28,28,f1_fuel_1994_12_7_0_3,7,1994,"cholla units 1,2,3",gas,mcf,38086.0,0.880901,2.490,2.480,2.820
29,29,f1_fuel_1994_12_7_0_7,7,1994,4 corners,coal,ton,2599962.0,17.530000,21.170,20.860,1.210
...,...,...,...,...,...,...,...,...,...,...,...,...
29493,29493,f1_fuel_2018_12_191_0_3,191,2018,tecumseh,gas,mcf,25325.0,1.033011,6.462,6.462,6.255
29494,29494,f1_fuel_2018_12_191_0_5,191,2018,gordon evans ctf,gas,mcf,2073725.0,1.038883,4.462,4.462,4.295
29495,29495,f1_fuel_2018_12_191_0_6,191,2018,gordon evans ctf,oil,bbl,10030.0,5.846053,94.777,94.900,16.212
29496,29496,f1_fuel_2018_12_191_0_8,191,2018,spring creek,gas,mcf,2461276.0,1.026999,2.328,2.328,2.267
29497,29497,f1_fuel_2018_12_191_0_11,191,2018,emporia ctf,gas,mcf,5853049.0,1.045818,3.681,3.681,3.520
29498,29498,f1_fuel_2018_12_191_1_2,191,2018,hutchinson,gas,mcf,170018.0,1.019451,4.536,4.536,4.450
29499,29499,f1_fuel_2018_12_191_1_3,191,2018,hutchinson,oil,bbl,527.0,5.816407,102.110,0.000,17.556
29500,29500,f1_fuel_2018_12_191_1_6,191,2018,hutchinson w/diesel,oil,bbl,36.0,5.795044,102.488,0.000,17.685
29501,29501,f1_fuel_2018_12_191_1_8,191,2018,jeffrey (jec),coal,ton,4189920.0,16.673825,29.799,29.970,1.787
29502,29502,f1_fuel_2018_12_191_1_9,191,2018,jeffrey (jec),oil,bbl,19764.0,5.835849,88.553,101.010,15.174
29503,29503,f1_fuel_2018_12_191_1_14,191,2018,lawrence,coal,ton,1761218.0,17.888320,26.775,27.392,1.497
29504,29504,f1_fuel_2018_12_191_1_15,191,2018,lawrence,gas,mcf,88846.0,1.031133,6.274,6.274,6.084
29505,29505,f1_fuel_2018_12_432_0_2,432,2018,pueblo diesels,oil,bbl,81.0,5.694696,101.330,101.330,17.790
29506,29506,f1_fuel_2018_12_432_0_5,432,2018,airport - pueblo,oil,bbl,133.0,5.756940,95.530,95.530,16.590
29507,29507,f1_fuel_2018_12_432_0_8,432,2018,rocky ford diesels,oil,bbl,320.0,5.719602,98.180,98.150,17.160
29508,29508,f1_fuel_2018_12_432_0_11,432,2018,airport - units 1&2,gas,mcf,2154971.0,1.130000,255.000,3.780,3.350
29509,29509,f1_fuel_2018_12_432_0_14,432,2018,airport unit 6,gas,mcf,162132.0,1.130000,2.460,3.970,3.510
29510,29510,f1_fuel_2018_12_403_0_2,403,2018,wygen 2,coal,ton,569800.0,16.110000,14.760,0.810,1.130
29511,29511,f1_fuel_2018_12_403_0_6,403,2018,cheyenne prairie 42%,gas,mcf,613882.0,1.050000,3.520,3.520,3.360
29512,29512,f1_fuel_2018_12_403_0_9,403,2018,cheyenne prairie,gas,mcf,19655.0,1.050000,8.910,8.910,8.480
29513,29513,f1_fuel_2018_12_12_0_2,12,2018,ben french station,gas,mcf,39679.0,1.059000,5.680,5.680,5.360
29514,29514,f1_fuel_2018_12_12_0_4,12,2018,ben french station,oil,bbl,487.0,5.831070,0.000,0.000,9.970
29515,29515,f1_fuel_2018_12_12_0_7,12,2018,neil simpson unit 2,gas,mcf,18370.0,1.059000,8.330,8.330,15.930
29516,29516,f1_fuel_2018_12_12_0_8,12,2018,neil simpson unit 2,coal,ton,491913.0,16.100000,14.760,17.720,1.100
29517,29517,f1_fuel_2018_12_12_0_10,12,2018,wyodak - bhp 20%,coal,ton,409637.0,16.068000,13.690,14.310,0.890
29518,29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059000,4.780,4.780,9.030
29519,29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050000,3.650,3.650,6.950
29520,29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060000,4.770,4.770,8.990
29521,29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108000,3.060,14.760,1.110
29522,29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059000,0.000,0.000,11.680

In [70]:
h = fuel_data.groupby('fuel_type_code_pudl').mean()
h

,Unnamed: 0,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,,
coal,13314.909442,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,14993.518631,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,11295.856968,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,16428.580481,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,9700.185629,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,14582.544218,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

In [71]:
h.min()

Unnamed: 0                       9700.185629
utility_id_ferc1                  107.397311
report_year                      2001.700599
fuel_qty_burned                 63116.774802
fuel_mmbtu_per_unit                 0.341163
fuel_cost_per_unit_burned          13.659397
fuel_cost_per_unit_delivered       12.095172
fuel_cost_per_mmbtu                 1.716559
dtype: float64

In [33]:
fuel_data.describe()

,Unnamed: 0,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,14761.000000,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,8522.700335,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,0.000000,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,7380.500000,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,14761.000000,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,22141.500000,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,29522.000000,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [26]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [72]:
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

In [73]:
fuel_data.isnull().sum()

Unnamed: 0                        0
record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [27]:
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 12 columns):
Unnamed: 0                      29523 non-null int64
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 2.7+ MB

In [31]:
fuel_data[['fuel_cost_per_unit_burned', 'utility_id_ferc1']].corr()

                           fuel_cost_per_unit_burned  utility_id_ferc1
fuel_cost_per_unit_burned                   1.000000         -0.037863
utility_id_ferc1                           -0.037863          1.000000

In [32]:
fuel_data[['fuel_cost_per_unit_burned', 'fuel_qty_burned']].corr()

                           fuel_cost_per_unit_burned  fuel_qty_burned
fuel_cost_per_unit_burned                   1.000000        -0.018535
fuel_qty_burned                            -0.018535         1.000000

In [34]:
fuel_data[['fuel_cost_per_unit_burned', 'report_year']].corr()

                           fuel_cost_per_unit_burned  report_year
fuel_cost_per_unit_burned                   1.000000     0.013599
report_year                                 0.013599     1.000000

In [82]:
fuel_data.groupby('fuel_type_code_pudl').first()

,Unnamed: 0,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,,,,,
coal,0,f1_fuel_1994_12_1_0_7,1,1994,rockport,ton,5377489.0,16.590000,18.590,18.530,1.121
gas,4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,mcf,40533.0,1.000000,2.770,2.770,2.570
nuclear,6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,kgU,2260.0,0.064094,28.770,0.000,0.450
oil,14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,bbl,6510.0,5.875338,32.130,23.444,5.469
other,84,f1_fuel_1994_12_11_0_6,11,1994,w.f. wyman,bbl,55652.0,0.149719,14.685,15.090,2.335
waste,49,f1_fuel_1994_12_9_0_3,9,1994,b.l. england,ton,2438.0,0.015939,34.180,34.180,1.072

In [68]:
g = fuel_data.groupby('report_year').mean()
g

,Unnamed: 0,utility_id_ferc1,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
report_year,,,,,,,
1994,617.0,106.120648,2.724018e+06,10.638098,213.191996,63.636060,3.086977
1995,1835.0,110.139051,3.712067e+06,10.644830,354.422555,32.735269,2.868838
1996,2979.5,108.714154,2.544754e+06,10.778041,79.434995,9196.705948,2.695880
1997,4070.5,108.366545,2.813503e+06,10.247632,149.482132,11140.197239,3.113486
1998,5171.0,109.845528,3.267453e+06,10.704964,126.683519,287.154420,2.775862
1999,6249.5,108.222857,3.281281e+06,10.558885,120.053605,25.551627,2.740251
2000,7461.0,111.083758,2.472032e+06,9.224475,237.797111,985.362877,4.208403
2001,8825.5,113.521386,2.321402e+06,8.371469,133.013010,60.050396,4.612658
2002,10106.0,120.354357,2.145645e+06,8.304833,101.179365,47.594361,6.226281
2003,11314.0,123.300578,1.888622e+06,8.403746,123.183919,55.663493,7.223933
2004,12515.5,121.123322,1.782547e+06,8.332425,154.897398,139.524275,8.441597
2005,13746.0,121.028369,1.768876e+06,8.135972,107.111221,41.438184,9.397078
2006,15002.0,117.178600,1.957264e+06,8.138090,151.361249,38.657484,10.339898
2007,16255.5,116.040348,2.035696e+06,8.027581,202.622082,43.325023,10.735181
2008,17501.5,120.785016,2.046455e+06,7.892854,255.954415,58.588197,12.690115
2009,18726.5,118.139116,2.154993e+06,7.688192,215.699318,652.694163,10.619376
2010,19968.0,117.992863,2.423720e+06,7.575013,262.951203,91.862105,8.551217
2011,21218.5,121.069355,2.461332e+06,7.786182,301.754519,59.774667,9.237591
2012,22460.0,120.769912,2.747094e+06,7.796063,258.804138,60.994502,8.808904
2013,23681.0,122.082569,2.741505e+06,7.797024,255.991023,172.307591,9.308225
2014,24866.0,129.263877,2.700008e+06,7.588334,442.359068,192.737183,10.064673
2015,25998.0,128.591949,3.340131e+06,7.217820,237.933197,326.535511,8.054361
2016,27061.5,133.117021,3.693289e+06,6.846478,247.083959,103.901761,6.915613
2017,28075.0,131.126888,3.352850e+06,6.781353,246.281796,46.196861,368.736351
2018,29047.0,133.669821,4.178890e+06,6.596546,232.992036,499.269966,7.233643

In [69]:
g.max()

Unnamed: 0                      2.904700e+04
utility_id_ferc1                1.336698e+02
fuel_qty_burned                 4.178890e+06
fuel_mmbtu_per_unit             1.077804e+01
fuel_cost_per_unit_burned       4.423591e+02
fuel_cost_per_unit_delivered    1.114020e+04
fuel_cost_per_mmbtu             3.687364e+02
dtype: float64